# Servidor e Utilitários
fastapi
uvicorn[standard]
python-dotenv
pydantic

# LLM
langchain-google-genai

# RAG e VectorDB
langchain
langchain-core
langchain-community
chromadb
sentence-transformers

# Testes
pytest
pytest-asyncio
httpx   